@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Sekuya&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header" "content" "footer";
}

header {
    display: flex;
    justify-content: center;
    grid-area: header;
}

header svg {
    transition: scale 500ms ease;

}

header svg path {
    fill: white;
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;

    transition: stroke-dashoffset 0.5s linear,
    stroke-dasharray 0.5 ease;
}

header svg:hover path {
    stroke-dasharray: 40 50;
    animation: walk 4s infinite linear;
}
header svg:hover {
    scale: 1.1;
}
header span {
    font-family: "Oswald", sans-serif;
    opacity: 0;
    transition: opacity 500ms ease;
}
header:has(svg:hover) span {

    opacity: 1;
}

@keyframes walk {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 90;
    }
}

.logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 1em;
}
.logo-name-left,
.logo-name-right {
    color: white;
}

.content {
    display: flex;
    padding: 1em 4em;
    justify-content: space-between;
    grid-area: content;
    gap: 10%;
}


.content .books {
    flex: 1;
}
.content .addbook {
    flex: 0 0 auto;
}

footer {
    grid-area: footer;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.books,
.addbook {
    background-color: rgba(255, 255, 255, 0.1);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    color: #fff;
    padding: 1em;
}

body {
    background-color: black;
}

.addbook .initialAddBook,
.addbook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.addbook .initialAddBook span {
    font-size: 1.5rem;
}
.addbook .initialAddBook #addbook {
    align-self: center;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 3rem;
    width: 3rem;
}

.addbook form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1em;
    flex: auto
}

.addbook form input {
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5em 1em;
    color: white;
    transition: background-color .2s ease;
}
.addbook form input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}
.addbook form label,
form span {
    padding-left: 0.5em;
}

.addbook form div button {
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 1em;

}

form input[type="number"] {
    appearance: textfield;
}

form input[type="file"] {
    display: none;
}

form label[for="cover"] {
    margin: 2em 0 0.5em;
    background-color: #e9e9ed;
    color: black;
    text-align: center;
    border-radius: 16px;
    padding: 0.5em 1em ;
    transition: background-color .2s ease, color .2s ease;
}
form label[for="cover"]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.form-buttons button {
    transition: background-color 200ms ease;
    transition: color 200ms ease;
    cursor: pointer;
}

.form-buttons button:hover {
    background-color: black;
    color: white;
}
form {
    transition: opacity .3s ease;
}
.form-close {
    opacity: 0;
}
.initialAddBook {
    transition: opacity .3s ease;
}
.addbook-close {
    opacity: 1;
}